:root {
    --bakcground: #FEFEDF;
    --text: #171700;
    --primary: #845EC2;
    --secondary: #F3C5FF;
    --accent: #ffff99;
    --error: #F6906C;
    --success: #8C981F;
}

* {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}