@import url('https://fonts.googleapis.com/css2?family=Rubik:wght@300;400;600&display=swap');

:root {
    --bakcground: #FEFEDF;
    --text: #171700;
    --primary: #F3C5FF;
    --secondary: #845EC2;
    --gradient: linear-gradient(to right, var(--primary) , var(--secondary));
    --accent: #f0f0d1;
    --error: #F6906C;
    --success: #8C981F;
}

* {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    font-family: 'Rubik', sans-serif;
    background-color: var(--bakcground);
    color: var(--text);
    font-size: 1.5rem;
    font-weight: 300;

}

.container {
    display: grid;
    height: 100vh;
    grid-template-rows: 0.4fr 4fr 0.25fr;
}

/* button styling */

.button {
    text-align: center;
    border: none;
    background-color: auto;
    padding: 5px 15px;
    border-radius: 5px;
    font-size: 2rem;
    font-weight: 600;
    cursor: pointer;
    transition: all 0.2s;
}

.button:hover {
    transform: scale(0.95);
    opacity: 85%;
}

.button-primary {
    background-color: var(--primary);
    color: var(--bakcground);
}

.button-secondary {
    background: transparent;
    color: var(--secondary);
    border: 1px solid var(--secondary);
}

.button-error {
    background-color: var(--error);
}

.button-success {
    background-color: var(--success);
    color: var(--bakcground);
}

/* card styling */
.card {
    margin: 15px;
    display: flex;
    flex-direction: column;
    height: auto;
    width: 350px;
    text-align: center;
    background-color: var(--bakcground);
    border-radius: 15px;
}

.card > *:first-child {
    margin-top: 10px;
}

.card > *:nth-child(6) {
    margin-bottom: 10px;
}

.card > * {
    margin: 5px 15px;
}

.main,
.footer {
    background-color: var(--accent);
}

/* Header Area */
.header {
    display: flex;
    padding: 15px;
    justify-content: space-between;
    align-items: center;
}

.header > .button {
    margin-right: 5px;
}

/* main */
.main {
    display: flex;
    flex-direction: column;
    padding: 15px;
    justify-content: start;
    align-items: center;
}

.main-area-1 {
    padding: 15px;
}

.main-area-2 {

}

/* footer */
.footer {
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 2rem;
}